/* Fonts */

/* ----- Root variables --------- */

:root {
  /* See Palette 9 in Refactoring UI */
  --primary-main: hsl(199, 84%, 55%);
  --primary-lightest: hsl(195, 100%, 95%);
  --primary-light: hsl(195, 97%, 75%);
  --primary-dark: hsl(201, 79%, 46%);
  --primary-darkest: hsl(203, 87%, 34%);

  --neutral-main: hsl(211, 10%, 53%);
  --neutral-lightest: hsl(216, 33%, 97%);
  --neutral-lighter: hsl(214, 15%, 91%);
  --neutral-light: hsl(210, 16%, 82%);
  --neutral-dark: hsl(209, 14%, 37%);
  --neutral-darkest: hsl(210, 24%, 16%);

  --ff-header: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  --ff-body: "Cardo", Verdana, Geneva, Tahoma, sans-serif;

  --shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 25%),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 15%);

  --s-xxl: 4.5rem;
  --s-xl: 2.25rem;
  --s-large: 1.875rem;
  --s-medium-large: 1.5rem;
  --s-medium: 1.25rem;
  --s-normal: 1rem;
  --s-small: 0.75rem;
  --s-xs: 0.5rem;
}

@media (min-width: 800px) {
  :root {
    --s-xxl: 6rem;
    --s-xl: 3rem;
    --s-large: 2.25rem;
    --s-medium-large: 1.875rem;
    --s-medium: 1.5rem;
    --s-normal: 1.125rem;
    --s-small: 1rem;
    --s-xs: 0.75rem;
  }
}

/* --- Primitive definitions -- */

.stack > * + * {
  margin-block-start: var(--s-medium);
}

.stack-large > * + * {
  margin-block-start: var(--s-xl);
}

.stack-small > * + * {
  margin-block-start: var(--s-small);
}

.container-main {
  max-width: 1800px;
  margin-inline: auto;
}

.container-large {
  width: 90%;
  margin-inline: auto;
  padding: var(--s-xl);
}

/* Smaller containers are expected to stack inside the .container-large element */
.container-medium {
  width: 100%;
  padding: var(--s-medium);
  max-width: 1200px;
}

/* -- General styles -- */

body {
  background-color: var(--neutral-lightest);
  color: var(--neutral-dark);
  font-family: var(--ff-body);
  font-size: var(--s-normal);
}

:focus {
  outline: 3px solid var(--neutral-dark);
  outline-offset: 3px;
}

p,
q {
  max-width: 70ch;
}

section {
  padding: 3rem 0.5rem;
}

@media (min-width: 800px) {
  section {
    padding-inline: 3rem;
  }
}

/* -- Typography -- */

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-header);
  font-weight: 600;
  color: var(--neutral-darkest);
}

h1 {
  font-size: var(--s-xxl);
  font-weight: 700;
  text-shadow: var(--shadow);
  letter-spacing: -0.025em;
}

h2 {
  font-size: var(--s-xl);
}

h3 {
  font-size: var(--s-medium-large);
}

body {
  font-size: var(--s-medium);
}

small {
  font-size: var(--s-small);
}

.heading-light {
  color: white;
}

.heading-reduced {
  font-size: var(--s-large);
}

.text-medium {
  font-size: var(--s-medium);
}

/* -- General component styling -- */

.inline-link {
  text-decoration: underline;
}

ul > li + li {
  margin-top: var(--s-small);
}

/*  Buttons and button-like objects */

.btn {
  border: 0;
  display: inline-block;
  height: auto;
  padding: 1rem 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-family: var(--ff-header);
  font-size: var(--s-normal);
}

.btn-outline {
  border: 2px solid var(--neutral-dark);
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
}

.btn-primary {
  background: var(--neutral-dark);
  color: var(--neutral-lightest);
}

.btn-dark {
  background: var(--neutral-darkest);
  color: var(--neutral-lightest);
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.btn-group {
  display: flex;
  margin-block: 1rem;
  gap: 1rem;
}

/*----- Functional classes ---- */

.hidden-small-screen {
  display: none;
}

@media (min-width: 800px) {
  .hidden-small-screen {
    display: block;
  }
}

/*  -- Hero section -- */

.hero {
  color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url("../images/patrick-robert-doyle-j6CsdJ7LIcc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  padding-bottom: 1rem;
}

.hero p {
  max-width: 25ch;
  font-size: var(--s-medium-large);
  line-height: 1.3;
}

@media (min-width: 800px) {
  .hero p {
    font-size: var(--s-medium);
    max-width: 50ch;
  }
}

/* -- About section -- */

.about > div:first-of-type {
  margin-inline: auto;
}

.about .btn-group {
  justify-content: center;
  margin-block: var(--s-medium-large);
}

.mission {
  max-width: max(500px, 90%);
}

.about ul {
  list-style: none;
  padding-left: 0;
  margin-block: var(--s-large);
}

.mission > h3 {
  text-align: center;
}

@media (min-width: 1000px) {
  .about {
    background-image: url("../images/sixteen-miles-out-bIwFwR2fSsA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--neutral-darkest);
    max-width: 1650px;
    margin-inline: auto;
    margin-block: var(--s-large);
  }

  .mission {
    max-width: 580px;
  }

  .mission > h3 {
    text-align: left;
  }
}

/* ----- Philosophy --- */

.conciliation {
  color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.6) 59%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../images/hands_touching.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.conciliation h3 {
  margin-bottom: var(--s-medium);
}

#conciliation {
  padding: 2rem 2rem;
}

@media (min-width: 800px) {
  #conciliation {
    padding: 3rem;
  }
}

/* --- Services section --- */

.services > * {
  text-align: center;
  margin-inline: auto;
  margin-bottom: var(--s-small);
}

.services-container {
  margin-block: var(--s-medium);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.service-text {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--s-medium);
  padding: var(--s-medium);
  max-width: 50ch;
  text-align: center;
}

.service-text > .btn {
  align-self: center;
}

.service > .image-container {
  max-width: 50ch;
  align-self: center;
}

@media (min-width: 800px) {
  .service-text {
    text-align: left;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .service {
    flex-direction: row;
  }

  .service-text > .btn {
    align-self: flex-start;
  }
}

/* ---- Raymond ----- */

.raymond {
  background-color: white;
}

.raymond_container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.raymond_image {
  height: 250px;
}

.raymond_text h2 {
  text-align: center;
  margin-bottom: 0.25em;
  position: relative;
  padding-block: 10px;
}

@media (min-width: 1200px) {
  .raymond_container {
    flex-direction: row;
    gap: 2rem;
  }

  .raymond_image {
    height: 300px;
  }
}

/* --------- Testimonials/Swiper ---- */

.swiper {
  height: 300px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.swiper-slide q {
  margin-top: 0.25em;
  color: var(--neutral-darkest);
}

.swiper-slide > img {
  height: 100px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  color: var(--primary-main) !important;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 2px solid var(--primary-light) !important;
}

/* ------- Contact ------- */

.contact {
  max-width: 1000px;
  margin-inline: auto;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  font-family: var(--ff-header);
  font-size: var(--s-normal);
  color: var(--neutral-main);
  margin-bottom: 3px;
}

.contact input {
  height: var(--s-xl);
}

.contact input,
textarea {
  margin-bottom: 1rem;
}

.contact button {
  align-self: center;
  max-width: 120px;
}

/* 
@media (min-width: 800px) {
  .contact {
    display: grid;
    grid-template-columns: 40ch 1fr;
    grid-gap: 1em;
    max-width: 1000px;
    margin-inline: auto;
    padding-bottom: 20px;
  }

  .section__title--contact {
    grid-area: title;
  }

  .section__title--contact::after {
    height: 15px;
  }

  .contact__text {
    grid-area: text;
  }

  .contact__form {
    grid-area: form;
  }

  .contact .social-list {
    grid-area: socials;
    margin-block: 0;
  }
}
 */
